<a href="https://colab.research.google.com/github/Zxlyxc/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Python Indentation

In [ ]:
if 5>2:
  print("Yes")

Python Comments

In [2]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable

In [3]:
x = "Sally"

a = 0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b,c)

Sally
0
1
2
0 1 2

Casting

In [4]:
d = 4
d = int(4)
print(d)

4

Type () Function

In [15]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

Double quotes and single quotes

In [14]:
#y = "Ana"
#print(y)

y = 'Ana'
Y = "Robert"
print(y)
print(Y)

Ana
Robert

Multiple Variables with one value

In [13]:
#x = "Tony"
k=l=m="four"
print(k)
print(l)
print(m)
print(k,l,m)

four
four
four
four four four

Output Variable

In [12]:
print("Python programming is enjoying")

h = "enjoying"
p = "Python programming is"
print("Python programming is" + h)
print(p+ "" + "" +h)

Python programming is enjoying
Python programming isenjoying
Python programming isenjoying

Arithmetic Operations

In [11]:
print(c+d) #  c = 2, d = 4
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3//2) # 1.50
print(d**c)

6
2
8
2
0
1
16

Assignment Operators

In [10]:
q=10
q+=5 #same as q=q+5

print(q) #sane as q = q+5, q 10+5=15

15

Boolean Logic

In [9]:
s = 10
print(s^2)
print(s|2)

8
10

Comparison Operators

In [16]:
print(s>q) 
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [17]:
s>q and s==s #False
s>q or s==s #True

print(s>q and s==s)
print(s>q or s==s)

False
True

Identity Operators

In [18]:
s is q 
print(s is not q)

True

Bitwise Operators Shift right

In [5]:
u = 2 #0001
print(u<<1)

g = 10
print(10<<1)

4
20